/* #imageContainer{
    display: flex;
    flex-direction: row;
    height: 300px;
    width:auto;
    background-color: red;
} */
.imgSlider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #80CC37;
    -webkit-transition: .4s;
    transition: .4s;
    width:auto; 
    height: 300px; 
  }

.imgCell {
height: 280px;
width:auto; 
margin-top: 10px;
margin-bottom: 10px;
}
  
.image{
    height: 100%; 
    width:auto;
}