.container {
  border: 2px dotted #80CC37;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(248, 244, 244);
}

.box {
  border: 2px dotted #80CC37;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: white;
}

li {
  list-style: none;
  font-size: x-large;
}
